/* WDD 130 Positioning Activity */

/* Activity 1 Styles */
.content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
      /* Activity One Container */
    }
    .red1 {
      width: 100%;
      height: 100px;
      background-color: red;
      grid-column: 1/3;
    }
    .green1 {
      width: 200px;
      height: 200px;
      background-color: green;
    }
    .yellow1 {
      width: 200px;
      height: 200px;
      background-color: gold;
    }
    .blue1 {
      width: 100%;
      height: 100px;
      background-color: blue;
      grid-column: 1/3;
    }
    