* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(209, 184, 152);
    font-size: 16px;   
}

header, 
footer {
    background-color: #a9c2e2;
}

header, main, footer {
    max-width: 800px;
    margin: 1rem auto;
}